$primary-color: #3f51b5;
$secondary-color: #3f51b5;

$font-color: black;
$secondary-font-color: white;

$link-color: #009cdc;
$link-color-hover: #1465ff;

$background-color: #edeef0;

$page-width: 1280px;