@import '_config';
html,
body {
    margin: 0;
    padding: 0;
    height: 100%;
}

body {
    font-weight: 300;
    font-size: 16px;
    background-color: $background-color;
    min-width: 320px;
}

.mdl-layout {
    max-width: $page-width;
    margin: auto;
    overflow: visible;
}

.mdl-layout__drawer {
    display: none;
}

.mdl-layout__drawer.is-visible {
    display: flex;
}

.page-content {
    padding-left: 24px;
}

.container {
    min-width: 320px;
}

.spinner {
    width: 40px;
    height: 40px;
    background-color: $secondary-color;
    margin: 100px auto;
    -webkit-animation: sk-rotateplane 1.2s infinite ease-in-out;
    animation: sk-rotateplane 1.2s infinite ease-in-out;
}

@-webkit-keyframes sk-rotateplane {
    0% {
        -webkit-transform: perspective(120px)
    }
    50% {
        -webkit-transform: perspective(120px) rotateY(180deg)
    }
    100% {
        -webkit-transform: perspective(120px) rotateY(180deg) rotateX(180deg)
    }
}

@keyframes sk-rotateplane {
    0% {
        transform: perspective(120px) rotateX(0deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(0deg) rotateY(0deg)
    }
    50% {
        transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg);
        -webkit-transform: perspective(120px) rotateX(-180.1deg) rotateY(0deg)
    }
    100% {
        transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
        -webkit-transform: perspective(120px) rotateX(-180deg) rotateY(-179.9deg);
    }
}

@media (min-width:320px) {
    .container {
        padding-left: 5px;
        padding-right: 5px;
    }
    .article-card-wide-inline {
        width: calc(100% - 12px);
    }
    .portfolio-card-image {
        width: calc(100% - 12px);
    }
    .article-card-wide {
        width: calc(100% - 12px);
        margin-bottom: 24px;
    }
}

@media (min-width:800px) {
    .container {
        margin: auto;
        top: 0;
        right: 0;
        bottom: 0;
        left: 0;
        width: 70%;
        border-radius: 3px;
        max-width: 1024px;
    }
    .portfolio-card-image {
        width: 350px;
        height: 350px;
    }

    .article-card-wide-inline {
        width: calc(50% - 48px);
        margin-right: 24px;
    }
    .article-card-wide {
        width: calc(100% - 72px);
        margin-bottom: 24px;
    }
}

a {
    /*color: $link-color;*/
    text-decoration: none;
}

a:hover {
    color: $link-color-hover;
}

nav {
    margin: 0;
    overflow: hidden;
    /*background-color: $primary-color;*/
    ul {
        margin: 0;
        padding: 0;
        li:hover {
            /* background-color: $secondary-color;
            a {
                color: $secondary-font-color;
            }*/
        }
        li {
            padding-top: 5px;
            padding-bottom: 5px;
            display: inline-block;
            list-style-type: none;
            height: 100%;
            a {
                color: $font-color;
                display: block;
                line-height: 2em;
                padding-left: 2em;
                padding-right: 2em;
                text-decoration: none;
            }
        }
    }
}

div.slider {
    margin-left: 5%;
    div.item {
        text-align: center;
        position: relative;
        .spinner {
            position: absolute;
            left: 50%;
            top: 50%;
        }
        .placeholder {
            width: 400px;
            height: 400px;
        }
        img {
            width: 100%;
            max-width: 700px;
            margin: auto;
            display: none;
        }
    }
    div.item.loaded {
        .spinner {
            display: none;
        }
        .placeholder {
            display: none;
        }
        img {
            display: block;
        }
    }
    div.item.unloaded {
        .spinner {
            display: none;
        }
        .unfound {
            display: block;
        }
        img {
            display: none;
        }
    }
}

.unfound {
    display: none;
    margin: 100px auto;
    height: 100px;
    font-size: 24px;
    width: 50%;
    text-align: center;
    color: black;
}

.article-card-wide-inline {
    /*height: 100%;*/
    margin-bottom: 24px;
}

.article-element-inline {
    padding: 24px;
    margin-bottom: 24px;
}

.article-card-wide-about > .mdl-card__title {
    color: #fff;
    height: 176px;
    /*
     background: url('http://localhost:3000/static/images/back.jpg') center / cover;*/
}

.portfolio-card-image {
    overflow: hidden;
    margin-right: 12px;
    margin-bottom: 12px;
    img {
        display: none;
    }
    .mdl-card__actions {
        color: white;
        background: rgba(0, 0, 0, 0.4);
    }
}

.loaded {
    .spinner {
        display: none;
    }
    img {
        display: block;
    }
}

.unloaded {
    .spinner {
        display: none;
    }
    .unfound {
        display: block;
    }
    img {
        display: none;
    }
}

span.tag {
    font-size: 12px;
    background-color: $primary-color;
    padding: 5px;
    border-radius: 5px;
    color: $secondary-font-color;
    cursor: pointer;
    margin-right: 5px;
}

span.tag:hover {
    background-color: $secondary-color;
}

footer {
    padding-bottom: 20px;
}


/*Fix for jQuery slick slider*/

button.slick-arrow:before {
    color: $font-color;
}

button.slick-next {
    right: 0;
}

button.slick-prev {
    left: 0;
    z-index: 2;
}
