@import '_config';

/* http://usingcss3.com/responsive-timeline-design-using-html-and-css3-only/ */

.timeline {
    float: left;
    width: 90%;
    margin: 40px 5%;
    padding-left: 40px;
    position: relative;
    border-left: 1px solid $primary-color;
    box-sizing: border-box;
    li {
        list-style: none;
        background-color: $primary-color;
        border: 1px solid $primary-color;
        border-radius: 5px;
        float: left;
        margin-top: 20px;
        padding: 10px;
        position: relative;
        width: 100%;
    }
    li:first-child {
        margin-top: 0;
    }
    li:before {
        content: "";
        width: 40px;
        height: 1px;
        background-color: $primary-color;
        position: absolute;
        top: 50%;
        left: -41px;
    }
    li:after {
        content: "";
        width: 7px;
        height: 7px;
        background-color: $primary-color;
        position: absolute;
        top: 50%;
        margin-top: -3px;
        left: -45px;
    }
}

.timeline:before,
.timeline:after {
    content: "";
    width: 16px;
    height: 16px;
    border: 2px solid $primary-color;
    position: absolute;
    left: -11px;
    border-radius: 50%;
}

.timeline:before {
    top: -18px;
}

.timeline:after {
    bottom: -18px;
}

.timeline-description p {
    margin-top: 15px;
    color: white;
}

.timeline-description p:first-child {
    margin-top: 0;
}


/* my horizontal timeline */

.timeline_horizontal {
    ul.timeline-elements {
        padding: 0;
        .start:before {
            content: "";
            width: 14px;
            height: 14px;
            position: absolute;
            border-radius: 50%;
            left: -2px;
            top: -4px;
            border: 2px solid $primary-color;
            background-color: $primary-color;
        }
        .end:after {
            content: "";
            width: 14px;
            height: 14px;
            position: absolute;
            border-radius: 50%;
            right: -2px;
            top: -4px;
            border: 2px solid $primary-color;
            background-color: $primary-color;
        }
        .active,
        .inactive {
            display: inline-block;
            height: 10px;
            position: relative;
            margin-right: -6px;
        }
        .active {
            background-color: $primary-color;
        }
        li {
            list-style: none;
            div {
                padding: 0;
                margin: 0;
            }
        }
    }
    ul.timeline-legend {
        padding: 0px;
        background-color: $primary-color;
        width: 100%;
        li {
            color: white;
            text-align: center;
            list-style: none;
            display: inline-block;
            width: 15%;
        }
    }
}
