<div class="mdl-grid">
    <div class="article-card-wide-inline article-card-wide-about mdl-card mdl-shadow--2dp">
        <div ng-hide="showArticle" class="spinner"></div>
        <div class="mdl-card__title">
            <img data-mode="background" image-loader ng-src="{{aboutArticle.imageUrl}}">
            <div class="spinner"></div>
            <div class="unfound">the picture got lost on its way :-(</div>
            <h2 class="mdl-card__title-text">{{aboutArticle.title}}</h2>
        </div>
        <div class="mdl-card__supporting-text" ng-bind-html="aboutArticle.full | sanitize" ng-show="showArticle"></div>
    </div>
    <div class="article-card-wide-inline mdl-card mdl-shadow--2dp">
        <div ng-hide="showContact" class="spinner"></div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">{{contactArticle.title}}</h2>
        </div>
        <div class="mdl-card__supporting-text" ng-bind-html="contactArticle.full | sanitize" ng-show="showContact">
        </div>
    </div>
    <div class="article-card-wide-inline mdl-card mdl-shadow--2dp">
        <div ng-hide="showSkills" class="spinner"></div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Skills & Experience</h2>
        </div>
        <div class="mdl-card__supporting-text timeline_horizontal" ng-show="showSkills">
            <ul class="timeline-elements">
                <li ng-repeat="expItem in experience">
                    <div class="label">{{expItem.label}}</div>
                    <div class="inactive" style="width:{{expItem.start}}%;"></div>
                    <div ng-class="{end: expItem.isEnd, start: expItem.isStart}" class="active" style="width:{{expItem.end}}%;"></div>
                </li>
            </ul>
            <ul class="timeline-legend">
                <li>2008</li>
                <li>2010</li>
                <li>2012</li>
                <li>2014</li>
                <li>2016</li>
            </ul>
        </div>
    </div>
    <div class="article-card-wide-inline mdl-card mdl-shadow--2dp">
        <div ng-hide="showTimeline" class="spinner"></div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Timeline</h2>
        </div>
        <div class="mdl-card__supporting-text timeline" ng-show="showTimeline">
            <li ng-repeat="lifeitem in lifeline">
                <div class="border-line"></div>
                <div class="timeline-description">
                    <p>{{lifeitem.year}} - {{lifeitem.description}}, {{lifeitem.where}}</p>
                </div>
            </li>
        </div>
    </div>
<!--     <div class="article-card-wide mdl-card mdl-shadow--2dp">
        <div ng-hide="showCertificates" class="spinner"></div>
        <div class="mdl-card__title">
            <h2 class="mdl-card__title-text">Certificates</h2>
        </div>
        <div class="mdl-card__supporting-text slider" slick-slider id="cert_slider" ng-show="showCertificates">
            <div ng-repeat="cert in certificates" class="item">
                <div class="label">{{cert.label}}</div>
                <div class="placeholder"></div>
                <div class="spinner"></div>
                <img image-loader ng-src="{{cert.imageUrl}}">
                <div class="label">verify at <a target="_blank" href="{{cert.verifyUrl}}">{{cert.verifyLabel}}</a></div>
            </div>
        </div>
    </div> -->
</div>
