<section class="portfolio">
    <h2>Portfolio</h2>
    <p>Find more on <a target="_blank" href="https://bitbucket.org/igorkim/">bitbucket</a></p>
    <div class="mdl-grid">
        <div class="portfolio-card-image mdl-card mdl-shadow--2dp" ng-repeat="element in portfolio">
            <img data-mode="background" image-loader ng-src="{{element.imageUrl}}">
            <div class="spinner"></div>
            <div class="unfound">the picture got lost on its way :-(</div>
            <div class="mdl-card__title mdl-card--expand"></div>
            <div class="mdl-card__actions">
                <p>
                    {{element.title}} - {{element.description}}
                    <a target="_blank" ng-show="element.sourceUrl.length" href="{{element.sourceUrl}}"><span class="tag">source</span></a>
                    <a target="_blank" ng-show="element.url.length" href="{{element.url}}"><span class="tag">live</span></a>
                </p>
            </div>
        </div>
    </div>
</section>
